@charset "utf-8";

/* header */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 2em;
  padding: 2em 0;
  border-bottom: 1px solid #222;
  line-height: 3em;
  z-index: 888;
}

header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 10em;
}

header .logo img {
  width: 100%;
}

header .mobMenu {
  display: none;
}

/* mobClose */
.mobClose {
  display: none;
}

/* home */
.home {
  position: relative;
  width: 100vw;
  height: 100vh !important;
  padding: 0;
  overflow: hidden;
}

.home .back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0.7;
  z-index: 1;
}

.home video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0.7;
  z-index: 1;
}

.home .homeTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 100%;
  z-index: 9;
}

.home .homeTxt .pplogo {
  filter: brightness(0);
}

.home h2 {
  text-align: center;
}

.home h2 img {
  width: 12em;
  margin: 0 auto;
  opacity: 1;
}

.home p {
  text-align: center;
  color: #444;
}

.home lottie-player {
  width: 300px;
  height: 300px;
}

/* studio */
.studio img {
  width: 100%;
}

.about {
  margin-bottom: 4em;
}

.about p {
  text-align: center;
}

.process ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.process li {
  width: calc((100% - 6em) / 4);
  padding: 2em;
  border: 1px solid #666;
  border-radius: 0.1em;
  box-sizing: border-box;
}

.process li img {
  width: 80%;
  margin: 0 auto;
  opacity: 0.9;
}

.process li h4 {
  margin-bottom: 0.5em;
  text-align: center;
}

.process li p {
  font-size: 2rem;
  text-align: center;
  word-break: keep-all;
}

/* project */
.projectInfo {
  padding: 2em;
  margin-top: 2em;
  background-color: #eee;
  border-radius: 0.1em;
}

.projectInfo li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.4em;
}

.projectInfo li:last-child {
  margin-bottom: 0;
}

.projectInfo li span {
  margin: 0.3em 0.5em 0 0;
  font-weight: 400 !important;
}

.projectInfo li p {
  font-size: 1.8rem;
}

.projectSlide a {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 0.1em;
  overflow: hidden;
}

.projectSlide img {
  width: 100%;
  height:400px;
  max-width: 400px;
}

.project .swiper-button-next,
.project .swiper-button-prev {
  top: 45%;
  color: #fff;
}

.project .swiper-button-next:after,
.project .swiper-button-prev:after {
  font-size: 3.5rem;
}

/* contact */
.contact {
  position: relative;
}

.contactSelect {
  margin-bottom: 3em;
}

.contactSelect h4 {
  margin-bottom: 0.5em;
}

.contactSelect h4 span {
  margin-left: 0.2em;
}

.contactSelect ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contactSelect.choice li,
.contactSelect.kind li {
  position: relative;
  width: calc((100% - 8em) / 5);
  height: 3em;
  margin-right: 2em;
}

.contactSelect.choice li:last-child,
.contactSelect.kind li:last-child {
  margin-right: 0;
}

.contactSelect.choice input[type="checkbox"],
.contactSelect.kind input[type="checkbox"] {
  width: 100%;
  height: 100%;
}

.contactSelect.choice input[type="checkbox"]:hover,
.contactSelect.kind input[type="checkbox"]:hover {
  border-color: #222;
  background-color: #f4f4f4;
}

.contactSelect.choice input[type="checkbox"]:checked:after,
.contactSelect.kind input[type="checkbox"]:checked:after {
  background: #222;
}

.contactSelect.choice label,
.contactSelect.kind label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.6em;
  transition: all 0.2s;
}

.contactSelect.choice input[type="checkbox"]:checked+label,
.contactSelect.kind input[type="checkbox"]:checked+label {
  color: #fff;
}

.contactSelect.date input {
  text-align: center;
}

.contactSelect.date span {
  margin: 0 0.5em;
}

.contactSelect.info {
  margin-bottom: 4em;
}

.contactSelect.info li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc((100% - 4em) / 3);
  margin-right: 2em;
}

.contactSelect.info li:last-child {
  margin-right: 0;
}

.contactSelect.info h5 {
  width: 3.5em;
}

.contactSelect.info input {
  width: calc(100% - 5em);
}

.contactSelect.info li.tel {
  margin-right: 0;
}

.contactSelect.info li.detail {
  width: 100%;
  margin-top: 1.5em;
}

.notes {
  padding: 2em 0;
  border-top: 0.1em solid #333;
  border-bottom: 0.1em solid #333;
}

.notes li {
  font-size: 1.8rem;
  color: #999;
}

.notes .notes_info {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.notes .notes_info input {
  margin-right: 0.5em;
  cursor: pointer;
}

.notes .notes_info label {
  font-size: 1.8rem;
}

.notes .notes_info .btn_popup {
  text-decoration: underline;
  font-size: 1.8rem;
  font-weight: 500;
}

.contact .btn_area {
  display: flex;
  justify-content: center;
}

.contact img {
  width: 8em;
}

.contact div.inner{
  text-align: -webkit-center;
}

.contact div.sns {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.contact .btn_inquiry {
  width: 15em;
  margin-top: 2em;
  line-height: 1;
}

/* footer */
footer {
  position: relative;
  padding: 8em 0 4em;
}